*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.navbar{
    display: flex;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
}
.navbar .nav{
    display: flex;
   gap: 20px;
}

.nav{
    position:absolute;
    left: 1000px;
}


   

